*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --background-body: #FCF8F6;
    --background-theme: #fef3ee;
    --background-hover: #E0C1C5;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    background: var(--background-theme);
}

header{
    width: 100vw;
    height: 12rem;
    background: white;
    display: flex;
    padding: 2rem;
    background: var(--background-body);
}

header > .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logoImg{
    height: 80%;
}

h1{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E0C1C5;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

nav > ul > li{
    width: 100%;
    height: 100%;
    
    font-size: 1.5rem;
    
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul > li:hover{
    background: var(--background-hover);
}

nav > ul > li > a:visited{
    color: black;
}

main{
    position: relative;
}

.webshopSlogan{
    height: 40rem;
    width: 100vw;
    position: relative;
}

.container{
    width: 100%;
    height: 100%;
}

.container > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container > article{
    position: absolute;
    top: 40%;
    left: 10%;
    height: 12rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    flex-wrap: wrap;
    color: white;
}

.container > article > a{
    width: 20rem;
    height: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    background: black;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    cursor: pointer;
    border: 0.3rem solid white;
}

.heroSection{
    width: 100vw;
    padding: 4rem;
    background: var(--background-theme);
    display: flex;
    justify-content: center; 
    gap: 5rem;
}

.heroSection img{
    height: 40rem;
    object-fit: fill;
    background: lightyellow;
    border-radius: 0.5rem;
}

.heroSection__text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--background-body);
    padding: 4rem;
    border-radius: 0.5rem;
}

.heroSection__text h2{
    display: flex;
    justify-content: center;
}

.heroSection__text button{
    width: 20rem;
    height: 5rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.heroSection__text button:hover{
    cursor: pointer;
    border: 0.3rem solid white;
}

.categories{
    width: 100vw;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    flex-wrap: wrap;
    
}

.categories div{
    width: 15rem;
    height: 30rem;
}

.categories img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.categories div a{
    width: 100%;
    height: 100%;
}

.categories  img:hover{
    scale: 1.2;
    cursor: pointer;
}

.importantPoints{
    width: 100vw;
    padding: 4rem;
    background: var(--background-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.importantPoints > div{
    width: 40rem;
    height: 20rem;
    background: var(--background-body);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 0.5rem;
}

.featureItem{
    width: 100vw;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.featureItem article{
    padding: 4rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--background-theme);
    border-radius: 0.5rem;
}

.featureItem__button{
    width: 20rem;
    height: 5rem;
    border: none;
    background: black;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.featureItem__button:hover{
    border: 1rem solid white;
}

.featureItem h2{
    font-size: 200%;
}

.featureItem img{
    height: 40rem;
    object-fit: contain;
    border-radius: 0.5rem;
}

.reviews{
    background: var(--background-theme);
    width: 100vw;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.review{
    width: 30rem;
    background: var(--background-body);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

.quote{
    font-size: 300%;
}

.review p {
    font-size: 150%;
    font-weight: 400;
    padding-bottom: 1rem;
}

.review__pfp{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.review__text{
    padding-top: 2rem;
    font-size: 90%;
}

.stars{
    color: gold;
}

.review__product{
    margin-top: 1rem;
    width: 10rem;
    height: 8rem;
    border-radius: 0.5rem;
    object-fit: cover;
}

/* Product Overview*/
.productOverview{
    display: flex;
    height: auto;
}

.checkout{
    width: 80rem;
    background: var(--background-hover);
    margin: 0 auto;    
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
    position: absolute;
    top: 0%;
    left: 20%;
    display: none;
}

.checkout__close{
    width: 20rem;
    height: 5rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.checkout__item{
    width: 70rem;
    height: 20rem;
    padding: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkout__item img{
    height: 16rem;
    width: 15rem;
    object-fit: cover;
}

.checkout__total{
    width: 70rem;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
}

.modal{
    width: 50rem;
    height: 30rem;
    position: fixed;
    background: red;
    top: 20%;
    left: 35%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-body);
    box-shadow:0 0 2rem 0 rgba(0, 0, 0, 0.3);
    color: green;
    font-weight: 400;
    border-radius: 0.5rem;
    display: none;
}

.shoppingCart{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    background: black;
    position: fixed;
    top: 14rem;
    right: 5rem;
    color: white;
}

.shoppingCart:hover{
    cursor: pointer;
}

.fa-bag-shopping{
    color: white;
    font-size: 200%;
}

.filter--inputs{
    padding: 4rem;
    display: flex;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    width: 18vw;
}

.filter{
    
}

.label{

}

.products{
    width: 72vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.product{
    list-style: none;
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.product:hover{
    transform: scale(1.02) translateY(-0.7rem);
    cursor: pointer;
}

.product h4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product figure{
    width: 20rem;
    height: 20rem;
}

.product__image{
    width: 100%;
    height: 100%;
    padding: 1rem;
    object-fit: cover;
}

.product div{
    display: flex;
    padding-bottom: 1rem;
}

.product__addCart{
    width: 20rem;
    height: 5rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.product__addCart:hover{
    background: var(--background-hover);
    cursor: pointer;
}

footer{
    width: 100vw;
    display: flex;
    padding: 4rem;
    flex-wrap: wrap;
    background: var(--background-body);
}

.footer-logo{
    width: 20vw;
}

.footer-logo img{
    width: 80%;
    height: 20%;
}

.shop{
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    gap: 4rem;
    
}

.shop a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    
}

.shop__products{
    width: 20rem;
    height: 5rem;
    color: white;
    text-decoration: none;
    background: black;
    
}

.shop__products a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop a:hover{
    cursor: pointer;
}

.shop a:visited{
    color: white;
}

.shop ul{
    list-style: none;
}

.developer{
    width: 40vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
}

.developer ul{
    list-style: none;
}