*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --background-body: #FCF8F6;
    --background-theme: #ffffff;
    --background-hover: #E0C1C5;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    background: var(--background-theme);
    position: relative;
}

.giveaway{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}

.giveaway__form{
    width: 50rem;
    height: 30rem;
    background: var(--background-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.giveaway__image{
    width: 10rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.giveaway__info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.giveaway__info div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.giveaway__buttons{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.giveaway__info label{
    width: 20rem;
}

.giveaway__button{
    width: 10rem;
    height: 3rem;
    border: none;
    color: white;
}

.giveaway__button--exit{
    background: black;
}

.giveaway__button--submit{
    background: var(--background-hover);
}

header{
    width: 100vw;
    height: 12rem;
    background: white;
    display: flex;
    padding: 2rem;
    background: var(--background-body);
}

.logo{
    display: flex;
    flex-direction: column;
    
    height: 100%;
}

.logo a {
    width: 100%;
    height: 100%;
}

.logoImg{
    height: 5rem;
}

h1{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E0C1C5;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

nav > ul > li{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul > li:hover{
    background: var(--background-hover);
}

nav > ul > li > a:visited{
    color: black;
}

main{
    position: relative;
}

.webshopSlogan{
    height: 50rem;
    width: 100vw;
    position: relative;
}

.container{
    width: 100%;
    height: 100%;
}

.container > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container > article{
    position: absolute;
    top: 40%;
    left: 10%;
    height: 12rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    flex-wrap: wrap;
    color: white;
}

.container > article > a{
    width: 20rem;
    height: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    background: black;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    cursor: pointer;
    background: var(--background-hover);
}

.heroSection{
    width: 100vw;
    height: auto;
    padding: 4rem;
    
    display: flex;
    justify-content: center; 
    gap: 5rem;
}

.heroSection img{
    height: 40rem;
    object-fit: fill;
    border-radius: 0.5rem;
}

.heroSection__text{
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--background-body);
    padding: 4rem;
    border-radius: 0.5rem;
}

.heroSection__text h2{
    display: flex;
    justify-content: center;
}

.heroSection__text button{
    width: 20rem;
    height: 5rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.heroSection__text button:hover{
    cursor: pointer;
    background: var(--background-hover);
}

.categories{
    width: 100vw;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    flex-wrap: wrap;
}

.categories div{
    padding: 2rem;
}

.categories img{
    height: 20rem;
    width: 15rem;
    border-radius: 0.5rem;
    object-fit: cover;
    margin-bottom: 2rem;
}

.categories a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.categories img:hover{
    cursor: pointer;
    border: 0.5rem solid var(--background-hover);
}

.categories a:visited{
    color: black;
}

.importantPoints{
    width: 100vw;
    padding: 4rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.points_card{
    width: 50rem;
    height: 20rem;
    background: var(--background-body);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 4rem;
    gap: 0.5rem;
}

.points_card i{
    color: var(--background-hover);
}

.points_card p {
    text-align: center;
}


.featureItem{
    width: 100vw;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.featureItem article{
    padding: 4rem;
    height: 40rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--background-body);
    border-radius: 0.5rem;
}

.featureItem__button{
    width: 20rem;
    height: 5rem;
    border: none;
    background: black;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.featureItem__button:hover{
    background: var(--background-hover);
}

.featureItem h2{
    font-size: 200%;
}

.featureItem img{
    height: 40rem;
    object-fit: contain;
    border-radius: 0.5rem;
}

.featureItem p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews{
    width: 100vw;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.review{
    width: 30rem;
    background: var(--background-body);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

.quote{
    font-size: 300%;
}

.review p {
    font-size: 90%;
    font-weight: 400;
    padding-bottom: 1rem;
}

.review__pfp{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.review__text{
    padding-top: 2rem;
    font-style: italic;
}

.stars{
    color: gold;
}

.review__product{
    margin-top: 1rem;

    width: 20rem;
    height: 15rem;
    border-radius: 0.5rem;
    object-fit: cover;
}


/* Product Overview*/
.productOverview{
    display: flex;
    height: auto;
}

.checkout{
    width: 80rem;   
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
    margin: 0 auto;
    display: none;
}

.checkout__close{
    width: 20rem;
    height: 5rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.checkout__item{
    width: 70rem;
    height: 20rem;
    padding: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkout__item img{
    height: 16rem;
    width: 15rem;
    object-fit: cover;
}

.checkout__total{
    width: 70rem;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
}

.checkout__buttons{
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.modal{
    width: 50rem;
    height: 30rem;
    position: fixed;
    background: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-body);
    box-shadow:0 0 2rem 0 rgba(0, 0, 0, 0.3);
    color: var(--background-hover);
    font-weight: 400;
    border-radius: 0.5rem;
    display: none;
}

.shoppingCart{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    background: black;
    position: fixed;
    top: 14rem;
    right: 10rem;
    color: white;
}

.shoppingCart:hover{
    cursor: pointer;
    background: var(--background-hover);
}

.fa-bag-shopping{
    color: white;
    font-size: 200%;
}

.filter__title{
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter--inputs{
    padding: 4rem;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    width: 30rem;
    font-size: 80%;
}

.filter{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    -webkit-appearance: none;
    appearance: none;
    background: #eee;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.filter:hover{
    cursor: pointer;
}

.filter:checked{
    background: black;
}

.filter:checked ~ .label{
    text-decoration: underline;
}

.filter__checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.giveaway__overview{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    border: 0.3rem solid black;
    padding: 2rem;
}

.giveaway__overviewimg{
    width: 10rem;
}

.giveaway__overviewButton{
    width: 10rem;
    height: 3rem;
    border: none;
    background: black;
    color: white;
}

.giveaway__overviewButton:hover{
    background: var(--background-hover);
}

.products{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.product{
    list-style: none;
    width: 25rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.product:hover{
    transform: scale(1.02) translateY(-0.7rem);
    cursor: pointer;
}

.product h4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product figure{
    width: 20rem;
    height: 20rem;
}

.product__image{
    width: 20rem;
    height: 15rem;
    
    object-fit: cover;
}

.price{
    width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.product__variants{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.product__variant{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    list-style: none;
    margin-bottom: 1rem;
    border: 0.2rem solid black;
}

.variant__bulb{
    background: rgb(16, 192, 119);
}

.variant__catctus{
    background: linear-gradient(rgb(78, 189, 78),30%, rgb(62, 181, 221));
}

.variant__char{
    background: orange;
}

.variant__chick{
    background: rgb(180, 97, 46);
}

.variant__gir{
    background: rgb(246, 246, 142);
}

.variant__lamb{
    background: linear-gradient(rgb(93, 179, 245),20%,rgb(195, 106, 220), 50%, rgb(203, 198, 180));
}

.variant__mush1{
    background: lightskyblue;
    border: none;
}

.variant__mush2{
    background: rgb(99, 208, 99);
    border: none;
}

.variant__mush3{
    background: rgb(255, 145, 202);
    border: 0.2rem solid black;
}

.variant__turtle{
    background: linear-gradient(rgb(199, 111, 224), rgb(104, 203, 104));
}

.variant__sail{
    background: linear-gradient(white, lightskyblue);
}

.variant__squid1{
    background: rgb(138, 203, 40);
    border: none;
}

.variant__squid2{
    background: purple;
    border: none;
}

.variant__squid3{
    background: linear-gradient(lightgreen, 30%, green, 40%,  pink);
}

.variant__squirtle{
    background: lightblue;
}

.variant__koala{
    background: lightgray;
}

.shoppingCart__variatie{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.2rem solid black;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.moreMushroom{
    width: 7rem;
    height: 5rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    font-size: 80%;
    padding: 0.5rem;
    display: flex;
}

.moreSquid {
    width: 7rem;
    height: 5rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    font-size: 80%;
    padding: 0.5rem;
    font-weight: 400;
}

.product__return{
    width: 20rem;
    height: 4rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.product__addCart{
    width: 20rem;
    height: 4rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.mushroom__addCart{
    width: 8rem;
    height: 5rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.squid__addCart{
    width: 8rem;
    height: 5rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.product__more{
    width: 8rem;
    height: 5rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.product__addCart:hover{
    background: var(--background-hover);
    cursor: pointer;
}

.product__amount{
    font-size: 80%;
    margin-top: 0.5rem;
}

/* Productoverview 2*/

/* Style The Dropdown Button */
.dropbtn {
    width: 15rem;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 4rem;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    width: 20rem;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    font-style: italic;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--background-hover);
}

/* Productpagina*/
.productPagina__mushroom, .productPagina__squid{
    width: 100vw;
    height: auto;
    padding: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mushroom__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mushroom__image, .squid__image{
    width: 40rem;
    height: 40rem;
    object-fit: cover;
}

.mushroom__heading, .squid__heading{
    display: flex;
    gap: 4rem;
    padding: 4rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 4rem;
}

.mushroom__description{
    width: 75rem;
    padding: 4rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
}

.mushroom__info, .squid__info{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.mushroom__variants, .squid__variants{
    display: flex;
    gap: 4rem;
}

.mushroom__variant, .squid__variant{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    list-style: none;
}

.mushroom__variant, .squid__variant:hover{
    cursor: pointer;
}

.mushroom__color1{
    background: lightskyblue;
    border: 0.2rem solid black;
}

.mushroom__color2{
    background: rgb(99, 208, 99);
    border: none;
}

.mushroom__color3{
    background: rgb(255, 145, 202);
    border: none;
}

.squid__color1{
    background: rgb(138, 203, 40);
    border: 0.2rem solid black;
}

.squid__color2{
    background: purple;
    border: none;
}

.squid__color3{
    background: linear-gradient(lightgreen, 30%, green, 40%,  pink);
    border: none;
}

.mushroom__price, .squid__price{
    font-size: 200%;
}

.productPagina__addCart{
    width: 20rem;
}

footer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background: var(--background-body);
    justify-content: flex-start;
}

.footer__logo{
    padding: 4rem;
}

.footer__intro{
    height: 15rem;
    
}

.footer__logo img{
    width: 25rem;
    height: 10rem;
}

.footer__logo h1{
    display: flex;
    justify-content: flex-start;
}

.footer__shopSocials{
    height: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.fa-instagram{
    color: #E1306C;
}

.fa-instagram a{
    width: 100%;
    height: 100%;
}   

.fa-youtube{
    color: #c4302b;
}

.fa-facebook{
    color: #3b5998;
}

.footer__email{
    width: 100%;
}

.footer__email a{
    color: black;
    text-decoration: none;
}

.footer__shop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    gap: 4rem;
    
}

.shop__products{
    width: 20rem;
    height: 5rem;
    color: white;
    text-decoration: none;
    background: black;
    
}

.shop__products a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop a:hover{
    cursor: pointer;
}

.shop a:visited{
    color: white;
}

.footer__info li{
    list-style:none;
    margin-bottom: 0.5rem;
}

.footer__info a{
    text-decoration: none;
}

.footer__service li{
    list-style:none;
    margin-bottom: 0.5rem;
}

.footer__service a{
    text-decoration: none;
}

.footer__info a{
    color: black;
}

.footer__service a{
    color:black;
}

.developer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
}

.developer__img{
    width: 20rem;
    object-fit: fill;
}

.developer ul{
    list-style: none;
}

.footer__copyright{
    display: flex;
    justify-content: center;
}

.dev__socials a{
    text-decoration: none;
    color:black;
}

.dev__socials a:visited{
    color: black;
}



@media screen and (max-width: 59.375rem){ /* 950px*/
    .logoImg{
        transform: scale(0.8);
    }
    .logo h1{
        font-size: 1.2rem;
    }
    header > nav > ul > li{
        font-size: 1.2rem;
    }
    .webshopSlogan{
        height: 30rem;
    }
    .heroSection{
        flex-wrap: wrap;
    }
    .heroSection img{
        height: 25rem;
        gap: 1rem;
    }
    .heroSection__text{
        height: 25rem;
        font-size: 1.5rem;
        gap:1.5rem;
    }
    .button__herosection{
        width: 10rem;
        font-size: 50%;
        padding: 0.5rem;
    }
    .categories div{
        height: 30rem;
    }
    .categories img:hover{
        border: none;
    }
    .points_card{
        width: 25rem;
        height: 15rem;
        font-size: 80%;
    }
    .featureItem{
        gap: 2rem;
    }
    .featureItem article{
        height: 30rem;
        font-size: 70%;
    }
    .featureItem img{
        height: 30rem;
    }
    .featureItem__button:hover{
        background: black;
    }
    .review{
        height: 30rem;
    }
    .review__product{
        width: 20rem;
        height: 10rem;
    }
    .quote{
        display: none;
    }
    .modal{
        width: 35rem;
        top: 30%;
        left: 25%;
    }
    .productOverview{
        display:block;
    }
    .filter--inputs{
        width: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 80%;
    }
    .products{
        width: auto;
    }
    .shoppingCart{
        top: 13rem;
        right: 2rem;
    }
    .checkout{
        width: 50rem;
    }
    .checkout__item{
        width: 100%;
    }
    .checkout__title{
        width: 10rem;
    }
    .checkout__total{
        width: 42rem;
    }
    .filter--inputs{
        flex-wrap: wrap;
        padding: 2rem;
    }
    .product{
        width: 30rem;
        height: 35rem;
    }
    .product:hover{
        transform: scale(0);
    }
    .product__image{
        width: 25rem;
        height: 15rem;
    }
    .product__addCart{
        font-size: 80%;
        width: 15rem;
    }
    .product__addCart:hover{
        background: black;
    }
    .moreSquid{
        width: 6rem;
    }
    .mushroom__heading, .squid__heading{
        width: 55rem;
    }
    .mushroom__image, .squid__image{
        width: 20rem;
        height: 30rem;
    }
    .mushroom__variant, .squid__variant{
        width: 4rem;
        height: 4rem;
    }
    .mushroom__description, .squid__description{
        width: 55rem;
    }
    footer{
        justify-content: flex-start;
    }
    .footer__email{
        font-size: 80%;
    }
    .footer__shop{
        font-size: 80%;
    }
    .developer{
        font-size: 80%;
    }
}

@media screen and (max-width: 53.125rem){ /*850rem*/
    .product{
        width: 40rem;
        height: 40rem;
    }
}

@media screen and (max-width: 37.5rem){ /* 600px*/
    header > nav > ul > li{
        font-size: 1rem;
    }
    .heroSection__text{
        height: 35rem;
    }
    .heroSection__text button{
        padding: 0.5rem;
        width: 10rem;
        font-size: 90%;
    }
    .categories{
        gap: 0rem;
    }
    .categories div{
        height: 30rem;
    }
    .categories img:hover{
        background: black;
    }
    .points_card{
        width: 22rem;
        height: 12rem;
        font-size: 60%;
        gap: 0;
    }
    .points_card i {
        visibility: hidden;
    }
    .featureItem article{
        padding: 2rem;
    }
    .featureItem article{
        height: 20rem;
        font-size: 50%;
    }
    .featureItem__button{
        font-size: 1.2rem;
        width: 10rem;
        height: 3rem;
    }
    .featureItem img{
        height: 20rem;
    }
    .shoppingCart{
        right: 5%;
    }
    .checkout{
        width: 40rem;
    }
    .checkout__item{
        width: 100%;
        gap: 0.5rem;
    }
    .checkout__item img{
        width: 10rem;
        height: 10rem;
    }
    .checkout__title{
        width: 8rem;
        font-size: 60%;
    }
    .checkout__item p{
        font-size: 60%;
    }
    .checkout__total{
        width: 32rem;
    }
    .product{
        width: 40rem;
        height: 40rem;
    }
    .product__image{
        width: 25rem;
        height: 20rem;
    }
    .product__amount{
        display: none;
    }
    .productPagina__mushroom{
        justify-content: center;
    }
    .mushroom__section{
        width: 100%;

    }
    .mushroom__heading, .squid__heading{
        width: 40rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .mushroom__image, .squid__image{
        width: 30rem;
    }
    .mushroom__info, .squid__info{
        width: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mushroom__description, .squid__description{
        width: 40rem;
    }
    footer section{
        width: 100vw;
    }
}