*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --background-body: #FCF8F6;
    --background-theme: #F4E4DC;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    background: var(--background-body);
}

header{
    width: 100vw;
    height: 12rem;
    background: white;
    display: flex;
    padding: 2rem;
}

header > .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E0C1C5;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

nav > ul > li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
}

nav > ul > li:hover{
    background: var(--background-theme);
}

nav > ul > li > a:visited{
    color: black;
}

main{
    position: relative;
}

.webshopSlogan{
    height: 40rem;
    width: 100vw;
    background: lightblue;
    position: relative;
}

.container{
    width: 100%;
    height: 100%;
}

.container > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container > article{
    position: absolute;
    top: 40%;
    left: 10%;
    height: 12rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    flex-wrap: wrap;
    color: white;
}

.container > article > a{
    width: 20rem;
    height: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    background: black;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    cursor: pointer;
    border: 0.3rem solid white;
}

.heroSection{
    width: 100vw;
    padding: 4rem;
    background: var(--background-theme);
    display: flex;
    justify-content: center; 
    gap: 5rem;
}

.heroSection img{
    height: 40rem;
    object-fit: fill;
    background: lightyellow;
    border-radius: 0.5rem;
}

.heroSection__text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--background-body);
    padding: 4rem;
    border-radius: 0.5rem;
}

.heroSection__text h2{
    display: flex;
    justify-content: center;
}

.heroSection__text button{
    width: 20rem;
    height: 5rem;
    background: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.heroSection__text button:hover{
    cursor: pointer;
    border: 0.3rem solid white;
}

.categories{
    width: 100vw;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    flex-wrap: wrap;
    
}

.categories div{
    width: 15rem;
    height: 30rem;
}

.categories img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.categories div a{
    width: 100%;
    height: 100%;
}

.categories  img:hover{
    scale: 1.2;
    cursor: pointer;
}

.importantPoints{
    width: 100vw;
    padding: 4rem;
    background: var(--background-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.importantPoints > div{
    width: 40rem;
    height: 20rem;
    background: var(--background-body);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 0.5rem;
}

.featureItem{
    width: 100vw;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.featureItem article{
    padding: 4rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--background-theme);
    border-radius: 0.5rem;
}

.featureItem__button{
    width: 20rem;
    height: 5rem;
    border: none;
    background: black;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.featureItem__button:hover{
    border: 1rem solid white;
}

.featureItem h2{
    font-size: 200%;
}

.featureItem img{
    height: 40rem;
    object-fit: contain;
    border-radius: 0.5rem;
}

.reviews{
    background: var(--background-theme);
    height: 50rem;
    width: 100vw;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.reviews > article{
    height: 40rem;
    width: 30rem;
    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Product Overview*/
.productOverview{
    display: flex;
}

.filter--inputs{
    padding: 4rem;
    display: flex;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    width: 20vw
}

.filter{
    
}

.label{

}

.products{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.product{
    list-style: none;
    width: 25rem;
    height: 30rem;
    margin: 2rem;
}

.product:hover{
    transform: scale(1.02) translateY(-0.7rem);
    cursor: pointer;
}

.product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.shoppingCart{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    background: lightcoral;
    position: absolute;
    top: 3%;
    right: 3%;
}

footer{
    width: 100vw;
    display: flex;
    padding: 4rem;
}

.footer-logo{
    width: 20vw;
    padding: 2rem;
}

.shop{
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
}

.shop a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    
}

.shop__products{
    width: 20rem;
    height: 5rem;
    color: white;
    text-decoration: none;
    background: black;
    
}

.shop__products a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop a:hover{
    cursor: pointer;
}

.shop a:visited{
    color: white;
}

.shop ul{
    list-style: none;
}

.developer{
    width: 40vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
}

.developer ul{
    list-style: none;
}